<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{event.name}}">
  <ion-content has-header="true" padding="true">
  	<h1>{{event.name}}</h1>


    <style>
    .angular-google-map-container { height: 200px; }
    .marker-labels {
        color: red;
        background-color: white;
        font-family: "Lucida Grande", "Arial", sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        width: 40px;
        border: 1px solid black;
        white-space: nowrap;
    }
    .angular-google-map {
      display: block;
      }
    </style>
    <google-map center="map.center" zoom="map.zoom">
        <marker coords='markers' icon='map.marker.icon'>
        </marker>
    </google-map>
    <h2>Comments</h2>
    <ul>
        <li ng-repeat="comment in event.comments">
            {{comment.name}} -
            {{comment.text}}
        </li>
    </ul>
    <h2>Add Comment</h2>
    <form ng-submit="addComment(event, comment)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Your Name" ng-model="comment.name">
        </label>
        <label class="item item-input">
          <textarea placeholder="Comment" ng-model="comment.text"></textarea>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Comment</button>
      </div>
    </form>
    </ion-content>
</ion-view>
